.body {
    background: lightgrey;
}

.maxWidth {
    width: 100%
}

.card {
    background: white;
    width: 10%;
    border: 2px solid black;
    border-radius: 5%;
    float: left;
}

.GameSelcetionCard {}

.newGame {}

.board {
    background: #FFDFC2;
}

.stats {
    background: lightyellow;
    border-radius: 100%;
    text-align: left;
}

.OpponentHand {}

.OpponentBoard {}

.PlayerHand {}

.PlayerBoard {}