.body {
    background: lightgrey;
}

.maxWidth {
    width: 100%
}

.card tr {
    height: 30px;
}

.card {
    margin: 5px;
    min-width: 150px;
    background: white;
    width: 10%;
    border: 2px solid black;
    border-radius: 5%;
}

.Layout {
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-container-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-container-horizontal-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.enemyTurn {
    background: lightgreen;
}

.yourTurn {
    background: orange;
}

.spacer {
    margin: 5px;
}

.boardseperator {
    background: black;
}

.newGame {
    background: lightgoldenrodyellow
}

.board {
    background: #FFDFC2;
}

.stats {
    background: lightyellow;
    border-radius: 100%;
    text-align: left;
}

.OpponentHand {}

.OpponentBoard {}

.PlayerHand {}

.PlayerBoard {}