<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body oncontextmenu="return false;" class="body">
	<div id="Body">
		<!-- Body will be inserted -->
	</div>
</body>

</html>