<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="24931599658-o9q66rbqprq0lcgrtlbfhcs3kcfqs8rg.apps.googleusercontent.com">
</head>

<body oncontextmenu="return false;">
	<div id="Body">
		<!-- Body will be inserted -->
	</div>
</body>

</html>